h1 {
    text-align: center;
}

h2 {
    color: brown
}

img {
    width: auto;
    height: 300px;
}

a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
    background-color: aqua;
}
.ingredients {
    background-color: blue;
}
.steps {
    background-color: blueviolet;
    font-weight: bold;
}
